* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #672280;
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto; /* push stuff on right as far as possible */
}

.header--project {
    font-size: .75rem;
    font-weight: 500;
}

main {
    padding: 36px;
}

input, button {
    font-family: 'Karla';
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    background: #672280;
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--text {
    position: absolute;
    width: 100%;

    color: white;
    text-align: center;
    font-family: impact;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 1px;

    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    
    top: 0;
    /* background: white; */
    
}

.bottom {
    transform-origin: bottom center;
    bottom: 0;
}


.meme--image {
    max-width: 100%;
    margin-top: 1rem;
}